/* Navigation */
#navbar{
    flex-direction: column;
}
#logo img{
    width: 50px;
    margin-bottom: -12px;
    margin-left: -22px;
}
#navbar ul li a{
    font-size: 1rem;
    
}
/* Home section */
#home{
    height: 285px;
    /* flex-direction: column; */
    padding: 3px 68px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}

/* Services section */
#services{
    flex-direction: column;
    margin: 50px;
    
}
#services .box{
    /* font-size: ; */
    
}

/* Clients section */
#clients{
    overflow: hidden;
}

/* Contact us section */

/* Footer */

/* Utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 1rem;
}
