/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
}
/* CSS VARIABLES */

#navbar{
    display: flex;
    align-items: center;
}
#logo{
    margin: 13px 21px
}
#logo img{
    width: 90px;
    margin-bottom: 10px;
    margin-left: 55px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
#logo img:hover{
    transform: rotate(360deg);
    
}
#navbar{
    /* position: absolute; */
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    /* background: url('./wood-panel-texture-5.jpg'); */
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    color: white;
    list-style: none;
    font-size: 1.3rem;
    
}
#navbar ul li a{
    color: white;
    padding: 3px 22px;
    display: block;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'Fondamento', cursive;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    font-size: 1.5rem;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 794px;
    justify-content: center;
    align-items: center;

}
#home::before{
    content: "";
    background: url('./web-design-2906159_1280.jpg') no-repeat center center/cover ;
    position: absolute;
    height: 85%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.80;

}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Fondamento', cursive;
    font-weight: bold;
}
#home h1{
    color: white;
    text-align: center;
}
/* Client section */
#client-section{
    height: 344px;

}
#client-section::before{
    content: "";
    position: absolute;
    /* background: url('./wood-panel-texture-5.jpg'); */
    width: 100%;
    height: 30%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
}
.client-item{
    padding: 34px;
}
/* Services section */
#services{
    display: flex;    
    margin: 34px;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: burlywood;
    
}
#services .box:hover{
    box-shadow: 5px 5px red;
    background-color: rgb(248, 179, 88);
    
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Patua One', cursive;
}

/* Contact section */
#contact{

}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 61%;
    z-index: -1;
    opacity: 0.4;
    background: url('./contactus.png') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
    
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Patua One', cursive;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
    

}


/* UTILITY CLASS */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    /* color: white; */
    font-family: 'Patua One', cursive;
}
/*.h-primary:hover{
    color: rgb(7, 146, 226);
}*/
.h-secondary{
    font-size: 2.11rem;
    padding: 12px;
    font-family: 'Patua One', cursive;
}

.btn{
    padding: 6px 20px;
    border: 2px solid black;
    background-color: burlywood;
    color: crimson;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    background-color: red;
    color: burlywood;
    box-shadow: inset 5px 5px burlywood
    ;
}
.center{
    text-align: center;
}